.footer-container {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: $secondaryColor;
  width: 10%;
  right: 28%;
  @include for-size (tablet-portrait-up) {
    display: block;
    height: 100vh;
  }

  &__absolute {
    display: none;
    @include for-size (tablet-portrait-up) {
      display: block;
      width: 20%;
      height: 100vh;
      z-index: 300;
    }

    &__img {
      margin-left: -1170%;
      position: relative;
      top: 50%;
      background-color: $secondaryColor;
      display: flex;
      margin-right: 30px;

      &__photo {
        width: auto;
        height: 40vh;
      }
    }
  }

  &__down {
    background-color: white;
    z-index: 1;
    width: 65%;
    height: 100%;
  }
}
