.footer-container {
  display: none;
  position: fixed;
  margin-top: 22vh;
  width: 100%;
  @include for-size (tablet-portrait-up) {
    display: block;
    height: 25vh;
  }

  &__absolute {
    display: none;
    @include for-size (tablet-portrait-up) {
      display: block;
      width: 100%;
      height: 15vh;
      background-color: $secondaryColor;
      z-index: 300;
    }
  }

  &__down {
    background-color: white;
    z-index: 1;
    width: 65%;
    height: 100%;
  }
}
