.header-container {
  height: 100vh;
  width: 15%;
  right: 5%;
  display: flex;
  flex-direction: column;
  position: fixed;
  @include for-size (tablet-portrait-up) {
    flex-direction: row;
    width: 35%;
  }

  &__orange {
    background-color: $mainColor;
    height: 70%;
    width: 100%;
    @include for-size (tablet-portrait-up) {
      height: 100%;
      width: 45%;
    }

    &__menu {
      font-family: 'ralewaybold';
      color: white;
      transform: rotate(90deg);
      text-transform: uppercase;
      margin-top: 32vh;
      letter-spacing: 3.8px;
      font-size: 1.5rem;
      @include for-size (tablet-portrait-up) {
        display: none;
      }
    }
  }

  &__carroussel {
    margin-top: 4vh;
    @include for-size (tablet-portrait-up) {
      margin: 20px auto;
    }

    &__left {
      margin: 0 auto;
      width: 35px;
      text-align: center;
      background-color: #E4E4E4;
      height: 35px;
      border-radius: 100%;
      transition: all 0.3s ease-out;
      @include for-size (tablet-portrait-up) {
        height: 40px;
        width: 40px;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &__more {
        font-family: 'ralewaymedium';
        padding-top: 3vh;
      }
    }

    &__right {
      margin: 0 auto;
      text-align: center;
      margin-top: 3.95vh;
      width: 35px;
      background-color: #E4E4E4;
      height: 35px;
      transition: all 0.3s ease-out;
      border-radius: 100%;
      @include for-size (tablet-portrait-up) {
        height: 40px;
        width: 40px;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &__more {
        font-family: 'ralewaymedium';
        padding-top: 3vh;
      }
    }

    &__title {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        font-family: 'ralewaymedium';
        margin-top: 10vh;
        letter-spacing: 3.8px;
        text-align: center;
        transform: rotate(90deg);
      }
    }

    &__number {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        font-family: 'ralewaybold';
        margin-top: 8vh;
        font-size: 2.5rem;
        text-align: center;
      }
    }

    &__contact {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        font-family: 'ralewayregular';
        margin-top: 30vh;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
