.header-container {
  height: 100vh;
  width: 15%;
  right: 5%;
  display: flex;
  background-color: white;
  flex-direction: column;
  position: fixed;
  @include for-size (tablet-portrait-up) {
    flex-direction: row;
    width: 30%;
    right: 0;
  }

  &__orange {
    background-color: $mainColor;
    height: 70%;
    width: 100%;
    @include for-size (tablet-portrait-up) {
      height: 100%;
      width: 40%;
    }

    &__menu {
      font-family: 'ralewaybold';
      color: white;
      transform: rotate(90deg);
      text-transform: uppercase;
      margin-top: 32vh;
      letter-spacing: 4.3px;
      font-size: 2.6rem;
      @include for-size (tablet-portrait-up) {
        display: none;
      }
    }
  }

  &__carroussel {
    margin-top: 4vh;
    @include for-size (tablet-portrait-up) {
      margin: 20px auto;
    }

    &__left {
      margin: 0 auto;
      width: 50px;
      text-align: center;
      background-color: #E4E4E4;
      height: 50px;
      font-size: 1.6rem;
      transition: all 0.3s ease-out;
      @include for-size (tablet-portrait-up) {
        height: 55px;
        width: 55px;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &__more {
        font-family: 'ralewaymedium';
        padding-top: 2.8vh;
      }
    }

    &__right {
      text-align: center;
      margin: 3.95vh auto;
      width: 50px;
      font-size: 1.6rem;
      background-color: #E4E4E4;
      height: 50px;
      transition: all 0.3s ease-out;
      @include for-size (tablet-portrait-up) {
        height: 55px;
        width: 55px;
        margin: 3.95vh auto;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &__more {
        font-family: 'ralewaymedium';
        padding-top: 2.8vh;
      }
    }

    &__title {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        font-family: 'ralewayregular';
        margin-top: 12vh;
        font-size: 2rem;
        letter-spacing: 3.8px;
        text-align: center;
        transform: rotate(90deg);
      }
    }

    &__number {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        font-family: 'ralewaybold';
        margin-top: 12vh;
        font-size: 6.5rem;
        text-align: center;
      }
    }

    &__contact {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        text-transform: uppercase;
        font-family: 'ralewayregular';
        margin-top: 28vh;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
