.main-container {
  opacity: 0;
  margin-left: 4%;
  @include for-size (tablet-portrait-up) {}

  &__social {
    margin-left: 4%;
    width: 15%;
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;

    &__link {
      width: 30px;
      height: 30px;

      &__img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__title {
    font-size: 3.6rem;
    padding-top: 20px;
    font-family: 'playfairbold';
    @include for-size (tablet-portrait-up) {
      font-size: 3.8rem;
    }
  }

  &__text {
    padding-top: 30px;
    font-family: 'ralewayregular';
    font-size: 1.5rem;
    line-height: 150%;
    @include for-size (tablet-portrait-up) {
      display: flex;
      font-size: 1.8rem;
    }
    &__img {
      width: 100%;
      height: auto;
      margin-top: 20px;
      @include for-size (tablet-portrait-up) {
        display: none;
      }
    }

    &__second {
      padding-top: 20px;
      font-family: 'ralewayregular';
      font-size: 1.5rem;
      line-height: 150%;
      @include for-size (tablet-portrait-up) {
        display: flex;
        font-size: 1.7rem;
        width: 50%;
      }
    }

    &__third {
      padding-top: 10px;
      font-family: 'ralewayregular';
      font-size: 1.5rem;
      line-height: 150%;
      @include for-size (tablet-portrait-up) {
        display: flex;
        width: 50%;
        font-size: 1.7rem;
        padding-top: 30px;
      }
    }

    &__p {
      width: 100%;
    }
  }
}

.is-active {
  width: 65%;
  opacity: 1;
  @include for-size (tablet-portrait-up) {
    width: 55%;
  }
}
