.main-container {
  width: 70%;
  margin-left: 4%;
  height: 50vh;
  @include for-size (tablet-portrait-up) {
    width: 50%;
  }

  &__mainTitle {
    display: none;
    font-size: 1.4rem;
    letter-spacing: 3.2px;
    padding-top: 20px;
    font-family: 'ralewayregular';
    @include for-size (tablet-portrait-up) {
      display: block;
      opacity: 0.8;
    }
  }

  &__title {
    font-size: 3.6rem;
    padding-top: 20px;
    font-family: 'ralewaybold';
    @include for-size (tablet-portrait-up) {
      font-size: 3.8rem;
    }
  }

  &__text {
    padding-top: 20px;
    font-family: 'ralewayregular';
    font-size: 1.5rem;
    line-height: 150%;
    @include for-size (tablet-portrait-up) {
      font-size: 1.8rem;
    }
  }
}
